/* Fonts Start */

.inter-logo {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Fonts End */
body{
  background-color: #f5f8ff;
}
/*Button Start*/
.primary-button {
  background-color: #4E47FF;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.primary-button:hover{
  background-color: #61c79e;
}
/*Button End*/

/*Hero section Start*/

.header{
  background-image: url(B12A01-landing-launchpad/Assets/Hero-bg.png);
  background-position: center;
}

/*nav-bar Start*/
nav{

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 200px;
}

.nav-title {
  font-weight: 800;
  font-size: 34px;
  color: #4E47FF;
}
/*Nav-bar end*/
/*Banner Start*/
h1{

  font-weight: 700;
  font-size: 65px;
  color: #1E1E1E;

}
.banner{
  text-align: center;
  justify-content: space-between;
  margin: 150px 35px 0px 0px;
  padding: 0px 0px 150px 0px;
}
/*banner section end*/

/*Hero section end*/

/*Action Container start*/
h2{
  font-weight: 700;
  font-size: 42px;
  color: #1E1E1E;
}
p{
  font-weight: 400;
  font-size: 24px;
  color: #8c8e98;
}
.action-container{
  display: flex;
  justify-content: space-between;
  margin: 180px;
}
.action-text-container{
  text-align: left;
  padding: 30px 0px 0px 0px;

}
.action-image-container{
  border:none;
  border-radius: 48px;
  overflow: hidden;
}
/*Action Container end*/

/*Productive Action Container start*/
.productive-action-container{
  background-color: rgb(78,7, 255,0.10);
  margin: 120px;
  border: none;
  border-radius: 24px;
}
.h2-section{
  padding: 100px 0px 0px 0px;
  font-weight: 700;
  font-size: 38px;
  color: #1E1E1E;
  text-align: center;
}
.productive-stats{
  display: flex;
  justify-content: space-around;
}

h3{
  font-weight: 700;
  font-size: 80px;
  color: #4E47FF;
  margin-bottom: 0;
}

.p-productive-stats{
  margin-top: 4px;
  padding: 0px 0px 100px 0px;
  font-weight: 400;
  font-size: 16px;
  color: #8c8e98;
  text-align: center;
}
/*Productive Action Container end*/
/*Review start*/
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding: 40px;
}

.card-container {
  background-color: #ffff;
  border-radius: 14px;
  padding: 24px;
  max-width: 350px;
  box-shadow: 0 4px 20px #0000;
  text-align: left;
}

.icon-design img{
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

h4 {
  margin: 16px 0 10px;
  font-size: 18px;
  color: #1E1E1E;
}

.card-container-p {
  font-size: 15px;
  color: #1E1E1E;
}

.profile-pic {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.profile-pic img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 12px;
}
h5 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: #1E1E1E;
}

.review-p {
  margin: 0;
  font-size: 14px;
  color: #888;
}
/*Review end*/

/*Get In Touch Section start*/
.form input[type="text"], footer input[type="email"], footer textarea{
height: 64px;
border-radius: 5px;
background-color: color;
display: block;
width: 100%;
padding: 10px 20px;
margin-bottom: 24px;
border: none;
}

.get-in-touch{
  display: flex;
  gap: 100px;
  padding: 130px 180px;
}
.h2-get-in-touch{
  font-weight: 700;
  font-size: 97px;
}

.get-in-touch input[type="text"],  .get-in-touch input[type="email"]{
    height: 70px;
    background-color: white;
    border-radius: 10px;
    border: none;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
}

.get-in-touch textarea{
    height: 135px;
    background-color: white;
    border-radius: 10px;
    border: none;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
}
.get-in-touch-button{
  background-color: #4E47FF;
  color: white;
  font-weight: bold;
  font-size: 16px;
  width: 100%;
  padding: 10px 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.get-in-touch-button:hover{
  background-color: #61c79e;
}

label {
  font-size: 18px;
  font-weight: 600;
  color: #1E1E1E;
  margin-bottom: 10px;
}

legend {
  font-size: 18px;
  font-weight: 600;
  color: #1E1E1E;
  margin-bottom: 10px;
}

/*Get In Touch Section end*/

footer{

  text-align: center;
  background-color: #ffff;
  padding-bottom: 50px;
  ;

}

hr {
  border: none;
  height: 2px;
  background-color: #ffffff;
  margin: 20px 0;
}

.h2-footer{
  font-weight: 800;
  font-size: 100px;
  color: #4E47FF;
  margin-bottom: 0;
}
.p-footer{
  font-weight: 400;
  font-size: 11px;
  padding-top: 5px;
  line-height: 15px;
}

footer ul {
  display: flex;
  align-items: center;
  margin-left: 520px;
  margin-bottom: 100px;
}

footer ul li {
  list-style: none;
  margin-right: 50px;
}

footer li a {
  text-decoration: none;
  font-size: 15px;
  color: #8c8e98;
}

footer li a:hover{
  color:#61c79e;
}