/* Fonts Start */

.inter-logo {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Fonts End */

/*Button Start*/
.primary-button {
  background-color: #4E47FF;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
}
/*Button End*/

/*Hero section Start*/

.header{
  background-image: url(B12A01-landing-launchpad/Assets/Hero-bg.png);
  background-position: center;
}

/*nav-bar Start*/
nav{

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 200px;
}

.nav-title {
  font-weight: 800;
  font-size: 34px;
  color: #4E47FF;
}
/*Nav-bar end*/
/*Banner Start*/
h1{

  font-weight: 700;
  font-size: 65px;
  color: #1E1E1E;

}
.banner{
  text-align: center;
  justify-content: space-between;
  margin: 150px 35px 0px 0px;
  padding: 0px 0px 150px 0px;
}
/*banner section end*/

/*Hero section end*/

/*Action Container start*/
h2{
  font-weight: 700;
  font-size: 42px;
  color: #1E1E1E;
}
p{
  font-weight: 400;
  font-size: 24px;
  color: #8c8e98;
}
.action-container{
  display: flex;
  justify-content: space-between;
  margin: 180px;
}
.action-text-container{
  text-align: left;
  padding: 30px 0px 0px 0px;

}
.action-image-container{
  border:none;
  border-radius: 48px;
  overflow: hidden;
}
/*Action Container end*/






